body{
  height: 100%;
  margin: auto auto auto auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#game-container{
    height: 100%;
    display: block;
}

#game-buttons{
    margin: 45%;
}


#inventoryItem{
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 500px;
    left: 580px;
}

#button1{
    font-size: 30px;
    color:white;
    background-color:black;
    margin-bottom: 10px;
   
}

#button2{
    font-size: 30px;
    color:white;
   background-color: black;
   margin-bottom: 10px;
   
}

#button3{
   font-size: 30px;
   color:white;
   background-color: black;
   margin-bottom: 10px;
}

#title{
    color: white;
    display: inline-block;
    border-style: solid;
   background-color: black;
   
}

#description{
   display: block;
   text-align: center;
   color: white;
   border-style: solid;
   background-color: black;
   padding-left: 10px;
   margin-top: 0px;
    
}

#game-buttons{
    margin-top: 10px;
    display: block;
}

