body{
    background-color:white;
    margin-left: 35%;
}


#button1{
    font-size: 30px;
    color:white;
    background-color: black;
}

#button2{
    font-size: 30px;
    color:white;
   background-color: black;
}

#button3{
    font-size: 30px;
    color:white;
   background-color: black;
}

#title{
    background-color: black;
    color: white;
    width: 400px;
}

#description{
    color:  white;
    
    font-size: 20px;
    padding-bottom: 10px;
    margin-right: 50px;
}