body{
    background-color: black;
    margin-left: 35%;
}


#button1{
    font-size: 30px;
    color:white;
    background-color: black;
}

#button2{
    font-size: 30px;
    color:white;
   background-color: green;
}

#button3{
    font-size: 30px;
    color:white;
   background-color: gray;
}